<!-- payment.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Razorpay Payment</title>
    <!-- Include Razorpay JavaScript library -->
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
</head>
<body>
    <h2>Make a Payment</h2>

    <!-- Display order details and initiate Razorpay checkout on page load -->
    <script>
        var options = {
            key: "{{ razorpay_key_id }}",
            amount: "{{ order_amount }}",
            currency: "INR",
            name: "SkillSwap",
            description: "Payment for Skill Points",
            order_id: "{{ order_id }}",
            handler: function(response) {
                // Handle the Razorpay response, usually send it to the server for verification
                // This could involve making an AJAX request to your server
                console.log(response);
            },
            prefill: {
                name: "Admin_SkillSwap",
                email: "jeevan2016smr@gmail.com",
                contact: "+918606279719"
            }
        };

        var rzp1 = new Razorpay(options);
        rzp1.open();
    </script>
</body>
</html>
